# ignore all the files in the _build/ directory
_build/

# ignore all the files in the wireless_uicc_terminal/lib/ directory
wireless_uicc_terminal/lib/

# ignore file .DS_Store
.DS_Store

#ignore some files in hardware/ directory
hardware/_*
